main {
	margin-right: 10%;
    margin-left: 10%;
    font-family: Arial;
    color: black;
    font-size: 15px;

}
h1 {

	font-size: 24px;


}
p {

}


br {
   content: "  ";
}
a {
	color: green;
}

#first {
    height: 100%; 
    width: 100%; 
    max-height: 420px;
    max-width: 720px;

}
#vid {
	min-width: 720px;
	min-height:420px;
    max-height: 420px;
    max-width: 720px;
}
